@CHARSET "UTF-8";
div.alertlogin { margin-top: 5px; margin-bottom: 20px; border: 1px solid red; color: red; padding: 5px;}

table.pageheader { border-collapse: collapse; width: 100%; border: 0px; font-style: italic; margin-bottom: 5px; font-size: larger; }
table.pageheader tr { border: 0px; }
table.pageheader tr td { border-bottom: 1px solid #CCCCCC; padding-bottom: 3px; vertical-align: middle; }
table.pageheader tr td span.preview { color: red; }

div.questionalertmissing { margin-top: 5px; margin-bottom: 20px; border: 1px solid red; color: red; padding: 5px;}

div.question1 { margin-top: 5px; margin-bottom: 10px; }
p.question1text { font-weight: bold; }
p.question1missing { font-weight: bold; color: red; }
p.question1advise { color: grey; }

div.question2 { margin-top: 5px; margin-bottom: 10px; }
p.question2text { font-weight: bold; }
p.question2missing { font-weight: bold; color: red; }
p.question2advise { color: grey; }

div.question3 { margin-top: 5px; margin-bottom: 10px; }
p.question3text { font-weight: bold; }
p.question3missing { font-weight: bold; color: red; }
p.question3advise { color: grey; }
span.question3missing { color: red; }

div.question4 { margin-top: 5px; margin-bottom: 10px; }
p.question4text { font-weight: bold; }
p.question4missing { font-weight: bold; color: red; }
p.question4advise { color: grey; }
table.question4 { border-collapse: collapse; }
th.question4 { border-bottom: 1px solid; text-align: center; padding-bottom: 5px; padding-left:5px; padding-right:5px;}
span.question4missingvalue { font-style: italic; }
td.question4button { text-align: center; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; }
td.question4item { text-align: left; padding-top: 2px; padding-bottom: 2px; }
td.question4buttonAlt { text-align: center; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; background-color: #DDDDDD; }
td.question4itemAlt { text-align: left; padding-top: 2px; padding-bottom: 2px; background-color: #DDDDDD; }
span.question4itemmissing { color: red; }

div.question5 { margin-top: 5px; margin-bottom: 10px; }
p.question5text { font-weight: bold; }
p.question5missing { font-weight: bold; color: red; }
p.question5advise { color: grey; }
table.question5 { border-collapse: collapse; }
th.question5 { border-bottom: 1px solid; text-align: center; padding-bottom: 5px; padding-left:5px; padding-right:5px;}
span.question5missingvalue { font-style: italic; }
td.question5button { text-align: center; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; }
td.question5item { text-align: left; padding-top: 2px; padding-bottom: 2px; }
td.question5buttonAlt { text-align: center; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; background-color: #DDDDDD; }
td.question5itemAlt { text-align: left; padding-top: 2px; padding-bottom: 2px; background-color: #DDDDDD; }
span.question5itemmissing { color: red; }

div.question6 { margin-top: 5px; margin-bottom: 10px; }
p.question6text { font-weight: bold; }
p.question6missing { font-weight: bold; color: red; }
p.question6advise { color: grey; }
table.question6 { border-collapse: collapse; }
th.question6 { border-bottom: 1px solid; text-align: center; padding-bottom: 5px; padding-left:5px; padding-right:5px;}
span.question6missingvalue { font-style: italic; }
td.question6button { text-align: center; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; }
td.question6item { text-align: left; padding-top: 2px; padding-bottom: 2px; }
td.question6buttonAlt { text-align: center; padding-top: 2px; padding-bottom: 2px; vertical-align: middle; background-color: #DDDDDD; }
td.question6itemAlt { text-align: left; padding-top: 2px; padding-bottom: 2px; background-color: #DDDDDD; }
span.question6itemmissing { color: red; }

div.question7 { margin-top: 5px; margin-bottom: 10px; }
